@model StudentWebs.Models.Teacher

@{
    ViewData["Title"] = "Details";
}
<div class="container">
<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.FacultyName)
        </dd>
        <dt class="col-sm-2">
            Uploaded Image
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.ImagePath" width="200" height="200" style="border: 4px solid red;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary" style="width:150px">Edit</a>
    <a asp-controller="Teachers" asp-action="Index" class="btn btn-outline-secondary" style="width:150px">
        Back to List
    </a>
</div>
</div>