@model IEnumerable<StudentWebs.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-2 p-3">
    <div class="row pt-4" style="background-color:#323645">
        <div class="col-6">
            <h2 class="text-primary">Students List</h2>
        </div>
    </div>

    <br />
    <div class="row p-3 mx-7 ">
        <table class="table">
            <thead>
                <tr>
                    <th>

                    </th>

                    <th>
                        @Html.DisplayName("Full Name")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SymbolNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Faculty)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/images/@item.ImagePath" style="width:75px;height:75px;">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SymbolNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="CreateFee" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary m1-1">Create Fee</a>
                                <a asp-action="FeeStatus" asp-route-id="@item.StudentId" class="btn btn-sm btn-info">Fee Status</a>
                               
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

